DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=parcial1
DB_PORT=5432
DB_HOST=localhost
# Descomentar para usar una URL completa de la base de datos en lugar de las variables individuales
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/parcial1

